* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: cursive;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(191, 240, 223);
}

.heading{
    font-size: 35px;
    font-weight: 600;
    color: rgb(26, 90, 68);
    text-shadow: 3px 3px 8px;
}

.pannel {
    overflow: hidden;
    width: 75%;
    height: 80%;
    background-color: rgba(107, 234, 192, 0.805);
    border-radius: 10px;
    box-shadow: 0px 0px 15px 2px gray;
}

.pannel_top {
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: rgb(0, 205, 137);
}

.elem {
    color: rgba(18, 17, 17, 0.748);
    display: flex;
    gap: 10px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    background-color: aliceblue;
    font-weight: 600;

}

#pbtm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: calc(100% - 80px);
    padding: 10px;

}

.bubble {
    height: 40px;
    width: 40px;
    background-color: rgb(16, 128, 94);
    border-radius: 50%;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
}
.bubble:hover{
    background-color: rgb(11, 86, 64);
    cursor: pointer;
}

@media (max-width:500px) {
   .elem{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    gap: 0;
   }

   .box{
    height: 25px;
    width: 30px;
   }
   #main{
    gap: 20px;
   }
   .pannel{
    width: 90%;
    height: 80%;
   }
}